/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: #bbbbbb;
    margin-bottom: 5px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    background-color: #333;
    color: #e0e0e0;
    border-radius: 4px;
    font-size: 14px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #4CAF50;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #388e3c;
}

/* List */

.button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    text-decoration-line: none;
}

.button:hover {
    background-color: #45a049;
}

.board-list-container {
    width: 80%;
    margin: 30px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #555;
}

th {
    background-color: #333;
    color: #ddd;
}

tr:nth-child(even) {
    background-color: #222;
}

tr:hover {
    background-color: #444;
}

/* Detail */
.info-item {
    margin-bottom: 50px;
}

.board-strong {
    color: #bb86fc;
}

.board-span {
    color: #e0e0e0;
}

.back-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
}

