<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <insert id="save" parameterType="board">
        insert into board_table(boardTitle, boardWriter, boardPass, boardContents)
        values(#{boardTitle}, ${boardWriter}, ${boardPass}, ${boardContents})
    </insert>
    <select id="findAll" resultType="board">
        select id, boardTitle, boardWriter, boardViews, date_format(createdAt, "%Y-%m-%d") as createdAt
        from board_table order by id desc
    </select>
    <update id="updateViews" parameterType="Long">
        update board_table set boardViews=boardViews+1 where id=#{id}
    </update>
    <select id="findById" parameterType="Long" resultType="board">
        select id, boardTitle, boardWriter, boardContents, boardViews, date_format(createdAt, "%Y-%m-%d") as createdAt
        from board_table where id=#{id}
    </select>
</mapper>